body {
	margin: 0px;
	font-family: sans-serif;
}


#game {
	background: #fff;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-canvas {
	display: block;
	border-radius: 5px;	
}

.game-header {
	padding-top: 1vmin;
	padding-bottom: 1vmin;

	display: flex;
	justify-content: space-between;
}
.game-score {
	display: flex;
	justify-content: center;
	align-items: center;
}
.score-count{
	font-size: 3vmin;
	color:#000;
	font-weight: bold;
}

.canvas-wrapper {
	background-color: #161618;
	border-radius: 5px;
	border: 10px solid #161618;
}
